<section class="container__contact">
    <div class="container__contact-up">
        <div class="container__contact-left">
            <h2>Contáctanos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id facilisis nunc cursus fermentum gravida ac.</p> 
            <a href="mailto:mashkasoft@gmail.com">Envíanos un mensaje</a>
        </div>
        <div class="container__contact-right">
            <h3>Información de contácto</h3>
            <div class="container__contacts">
                <div class="container__section">
                    <a href="">
                        <img src="/assets/img/bx_bx-map.png" alt="" width="50px">
                    </a>
                    <div class="container__section-txt">
                        <h4>Nuestra Oficina</h4>
                        <p>Belisario Quevedo y Guayaquil, Latacunga</p>
                    </div>
                </div>
                <div class="container__section">
                    <img src="/assets/img/akar-icons_clock.png" alt="" width="50px">
                    <div class="container__section-txt">
                        <h4>Horario de atención</h4>
                        <p>Lunes  - Viernes de 08H00 a 18H00</p>
                    </div>
                </div>
                <div class="container__section">
                    <a href="">
                        <img src="/assets/img/akar-icons_whatsapp-fill.png" alt="" width="50px">
                    </a>
                    <div class="container__section-txt">
                        <h4>Escríbenos</h4>
                        <p>0996588664</p>
                    </div>
                </div>
            </div>
            <div class="container__social-icons">
                <a href="">
                    <img src="/assets/img/brandico_facebook.png" alt=""  height="30px">
                </a>
                <a href="">
                    <img src="/assets/img/akar-icons_instagram-fill.png" alt="" width="30px">
                </a>
                <a href="">
                    <img src="/assets/img/brandico_linkedin.png" alt="" width="30px">
                </a>
            </div>
        </div>   
    </div>
    <div class="container__contact-down">
        <h2>Llámanos: 0996588664</h2>
        <p>Nosotros hacemos tus ideas realidad</p>
    </div>
</section>