<section class="container">
    <div class="container__center">
        <h2>Mashka Soft</h2>
        <h3>Somos una empresa de desarrollo de software, especializada en proporcionar diseños de productos digitales y servicios de desarrollo para empresas pequeñas, medianas y grandes.</h3>
        <p>Nos encargamos de todo el proceso de desarrollo del producto, desde el diseño hasta su puesta en marcha. También podemos establecer equipos destinados al proyecto, que aceleren el desarrollo del mismo, reduciendo el tiempo de lanzamiento del producto. Nuestros equipos están formados por desarrolladores con gran experiencia, diseñadores UX/UI, product owners, gestores de proyectos, ingenieros de control de calidad y otros profesionales cualificados que le ayudarán a que su aplicación sea conforme con los más estrictos estándares de la industria.</p>
        <h4 class="title__nuestro-equipo">Nuestro Equipo</h4>
        <p class="title__nuestro-equipo parrafo">Se encuentra conformado por:</p>
    </div>
    <div class="cards__container">
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
        <div class="card__container-equipo">
            <div class="card__container-equipo__img">
                <img src="assets/img/equipo_1.jpg" alt="">
            </div>
            <div class="card__container-equipo__text">
                <h4>Oscar Toaquiza</h4>
                <p>Desarrollador de software</p>
            </div>
            <div class="card__social-container">
                <a href="mailto:oscar.toaquiza.mashkasoft@gmail.com">
                    <img src="/assets/img/mail-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/instagram-icon.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="/assets/img/whatsapp-icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
