<section class="container">
    <div class="container__left">
        <h2>Desarrollo de software</h2>
        <h3>Apoyamos en la transformación digital de negocios con aplicacines moviles y web orientadas a la usabilidad y experiencia de usuario.</h3>
        
        <h2>Desarrollo Web</h2>
        
        <h3>Páginas y Sistemas Web</h3>
        <p>Desarrollamos sistemas web para mejorar la productividad de tu empresa, mediante soluciones altamente eficientes y deacuerdo con tus necesidades a precios justos.</p>
        <h3>Comercio Electrónico</h3>
        <p>LLeva tu negocio al mundo digital y aumenta cada una de tus ventas o servicos con la creacion de una tienda en linea.</p>
        <h3>Posicionamiento SEO</h3>
        <p>Posicionamos tu sitio web en los principales buscadores de internet, tu negocio en la primera página de Google.</p>
        <h3>Email Corporativos</h3>
        <p>Brindamos correos electrónico personalizado a sus colaboradores, clientes y proveedores, es esencial para formalizar un canal de comunicación duradero.</p>
        
        <h2>Desarrollo de APPS</h2>
        
        <h3>Apps Andriod e iOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, delectus magnam? Illo, cum tempora animi maiores maxime, eum quia deleniti ut laudantium in sapiente voluptas laborum pariatur rem officia eveniet?</p>
        <h3>Diseño de Interfaces</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, delectus magnam? Illo, cum tempora animi maiores maxime, eum quia deleniti ut laudantium in sapiente voluptas laborum pariatur rem officia eveniet?</p>
        <h3>Publicaciones en Stores</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, delectus magnam? Illo, cum tempora animi maiores maxime, eum quia deleniti ut laudantium in sapiente voluptas laborum pariatur rem officia eveniet?</p>

        <h2>Inteligencia Artificial</h2>
        
        <h3>Machine Learning</h3>
        <p>Utilzamos algoritmos de inteligencia artificail para identificar patrones de datos masivos y elaborar predicciones de forma general.</p>
        <h3>Bussines Intelligence</h3>
        <p>Con el avance de la tecnología y la transformación digital, el ecosistema empresarial se ha vuelto mucho más competitivo. Esto ha generado la necesidad de encontrar una forma más inteligente y productiva de tomar decisiones empresariales que funcione de manera escalable.</p>
        <h3>Computer Vision</h3>
        <p>Incorpora sistemas de visión artificial a tus procesos de producción y calidad, automatizando los trabajos y alcanzando estándares de calidad que tus clientes exigen.</p>

    </div>
    <div class="container__right">
        <img src="/assets/img/service_1.jpg" alt="Servicio">
        <img src="/assets/img/service_2.jpg" alt="Servicio">
        <img src="/assets/img/service_3.jpg" alt="Servicio">
        <img src="/assets/img/service_4.jpg" alt="Servicio">
    </div>
</section>
