<section class="container">
    <div class="container__left">
        <h2>Desarrollo de software</h2>
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quis unde itaque velit natus ullam illo, officiis libero voluptate facere veritatis, alias voluptas! Hic doloremque incidunt exercitationem vero doloribus impedit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quis unde itaque velit natus ullam illo, officiis libero voluptate facere veritatis, alias voluptas! Hic doloremque incidunt exercitationem vero doloribus impedit.</p>
        <h3>Sistemas Web</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Aplicaciones Móviles</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
        <h3>Páginas web estáticas</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, iusto molestias velit nobis blanditiis aut obcaecati odit vitae fugiat repellendus, totam nisi corporis, quasi perspiciatis. Earum hic provident facilis doloremque?</p>
    </div>
    <div class="container__right">
        <img src="/assets/img/service_1.jpg" alt="Servicio">
        <img src="/assets/img/service_2.jpg" alt="Servicio">
        <img src="/assets/img/service_3.jpg" alt="Servicio">
        <img src="/assets/img/service_4.jpg" alt="Servicio">
    </div>
</section>
