<div class="container__inicio">
    <h2>
        DESARROLLO DE 
    </h2>
    <h1>
        SOFTWARE
    </h1>
    <p class="text__info-mashka">
        Especializados en proporcionar diseños de productos digitales y servicios de desarrollo para empresas pequeñas, medianas y grandes, que cumplan con los más estrictos estándares de la industria.
    </p>
    <a href="" class="button__ver-mas">Ver más</a>
    <div class="icons__services-container">
        <div class="icons__services">
            <span class="icon__img-responsive"></span>
            <p>Sistemas web responsive</p>
        </div>
        <div class="icons__services">
            <span class="icon__img-app"></span>
            <p>Aplicaciones móviles</p>
        </div>
        <div class="icons__services">
            <span class="icon__img-consultoria"></span>
            <p>Consultoría personalizada</p>
        </div>
        <div class="icons__services">
            <span class="icon__img-isow"></span>
            <p>Ingeniería de software</p>
        </div>
    </div>
    <div class="contact__idea">
        <div class="contact__idea-txt">
            <p>
                Si tienes una
            </p>
            <h3>
                idea
            </h3>
            <p>
                juntos podemos hacerla 
            </p>
        </div>
        <div class="contact__idea-email">
            <p>info@mashkasoft.com</p>
            <a href="/">Contactar</a>
        </div>
        <span class="contact-idea__img-focus">
        </span>
    </div>  
</div>
